{{#partial "title"}}
    Heroes and Squads Summary Page
{{/partial}}
{{#partial "content"}}
    <div class="viewer" style="background-image: url('https://images7.alphacoders.com/699/699169.jpg'); background-repeat: no-repeat; background-size: cover; background-position: cover;">
    <div class="jumbotron text-center Royal blue">
        <h2 class="h2-reponsive center text-info text-dark animated wobble">
            <strong>WELCOME TO THE SUMMARY PAGE<i class="fas fa-users animate rotateIn infinite"></i></strong>
        </h2>
    </div>
    <head>
        <title>HEROES AND SQUADS SUMMARY PAGE</title>
    </head>
    <body>
    <div class="container">
        <div class="combinedPage-container">
            <a type="submit" class="btn fancy-button btn-lg" href="/">
                <strong>HOME PAGE</strong>
                <span class="sr-only">(current)</span>
            </a>
            <a href="/hero-list" class="btn fancy-button btn-lg">
                <strong>HEROES: => ADD / VIEW HEROES</strong>
                <span class="sr-only">(current)</span>
            </a>

            <a href="/squad-list" class="btn fancy-button btn-lg">
                <strong>SQUADS: => ADD / VIEW / ASSIGN HEROES / VIEW ASSIGNED</strong>
                <span class="sr-only">(current)</span>
            </a>
            <h1><strong>HEROES AND SQUADS SUMMARY PAGE</strong></h1>
        </div>
        <div class="col-5">
            {{#if heroes}}
                <legend class="text-center text-dark"><strong>LIST OF HEROES</strong></legend>
                <table class="table table-bordered table-text light grey">
                    <thead class="thead-Royal blue">
                    <tr>
                        <th scope="col"><strong>HERO NAME</strong></th>
                        <th scope="col" class="text-center"><strong>AGE</strong></th>
                        <th scope="col"><strong>SPECIALPOWER</strong></th>
                        <th scope="col"><strong>WEAKNESS</strong></th>
                        <th scope="col"><strong>SQUAD</strong></th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each heroes}}
                        <tr>
                            <td><strong>{{heroName}}</strong></td>
                            <td><strong>{{age}}-years old</strong></td>
                            <td><strong>{{specialPower}}</strong></td>
                            <td><strong>{{weakness}}</strong></td>
                            <td><strong>{{squad}}</strong></td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            {{else}}
                <div class="no-data">You currently have no Heroes.<br>Consider adding some using the button below!</div>
                <a href="/hero-list" class="btn btn-primary">
                    <strong>ADD / VIEW HEROES' LIST</strong>
                    <span class="sr-only">(current)</span>
                </a>
            {{/if}}
        </div>
        <div class="col-5">
            {{#if squads}}
                <legend class="text-center text-dark"><strong>LIST OF SQUADS</strong></legend>
                <table class="table table-bordered table-text light grey">
                    <thead class="thead-Royal blue">
                    <tr>
                        <th scope="col"><strong>SQUAD</strong></th>
                        <th scope="col"><strong>SIZE</strong></th>
                        <th scope="col"><strong>CAUSE</strong></th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each squads}}
                        <tr>
                            <td><strong>{{squad}}</strong></td>
                            <td><strong>{{cause}}</strong></td>
                            <td><strong>{{size}} is the max number of heroes</strong></td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            {{else}}
                <div class="no-data">You currently have no Squads.<br>Consider adding some using the button below!</div>
                <a href="/squad-list" class="btn btn-primary">
                    <strong>ADD / VIEW SQUADS' LIST</strong>
                    <span class="sr-only">(current)</span>
                </a>
            {{/if}}
        </div>
    </div>
    </body>
</div>
{{/partial}}
{{>layout.hbs}}