{{#partial "title"}}
    Hero To Squad Page
{{/partial}}
{{#partial "content"}}
    <div class="viewer" style="background-image: url('https://wallpapertag.com/wallpaper/full/b/a/2/784583-gorgerous-marvel-heroes-wallpapers-2560x1600.jpg'); background-repeat: no-repeat; background-size: cover; background-position: cover;">
        <div class="jumbotron text-center">
            <h2 class="h2-reponsive center text-info animated wobble">
                <strong>HEROES ASSIGNED TO A SQUAD PAGE!<i class="fas fa-users animate rotateIn infinite"></i></strong>
            </h2>
            <div class="form-group md-form">
                <a type="submit" class="btn aqua-gradient text-white" href="/"><strong>HOME PAGE</strong></a>
                <a type="submit" class="btn aqua-gradient text-white" href="/hero-list"><strong>VIEW HEROES</strong></a>
                <a type="submit" class="btn aqua-gradient text-white" href="/squad-list"><strong>VIEW SQUADS</strong></a>
            </div>
            <div class="centre">
                {{#each squads}}
                    <table class="table table-striped table-dark">
                        <thead>
                        <tr>
                            <th class="text-info">Squad</th>
                            <th class="text-info">Max Size</th>
                            <th class="text-info">Cause</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{squad}}</td>
                            <td>{{size}}</td>
                            <td>{{cause}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <table class="table table-striped table-dark">
                                    <thead>
                                    <tr>
                                        <th class="text-info">Hero Name</th>
                                        <th class="text-info">Age</th>
                                        <th class="text-info">Special Power</th>
                                        <th class="text-info">Weakness</th>
                                        <th class="text-info">Squad</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{#each assignedHeroes}}
                                        <tr>
                                            <td>{{heroName}}</td>
                                            <td>{{age}}</td>
                                            <td>{{specialPower}}</td>
                                            <td>{{weakness}}</td>
                                            <td>{{squad}}</td>
                                            <td>
                                                <div>
                                                    <a class="btn btn-danger" href="/remove-hero/{{ heroName }}" title="remove hero" onclick="confirmRemoval('{{ heroName }}')">
                                                        <i class="fas fa-trash"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    {{/each}}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                {{/each}}
            </div>
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}