{{#partial "title"}}
    Assigned Hero To Squad Page
{{/partial}}
{{#partial "content"}}
    <div class="viewer" style="background-image: url('https://wallpapertag.com/wallpaper/full/b/a/2/784583-gorgerous-marvel-heroes-wallpapers-2560x1600.jpg'); background-repeat: no-repeat; background-size: cover; background-position: cover;">
        <div class="jumbotron text-center">
            <h2 class="h2-reponsive center text-info animated wobble">
                <strong>HEROES ASSIGNED TO A SQUAD PAGE!<i class="fas fa-users animate rotateIn infinite"></i></strong>
            </h2>
            <div class="form-group md-form">
                <a type="submit" class="btn aqua-gradient text-white" href="/squad-list"><strong>GO BACK</strong></a>
                <a type="submit" class="btn aqua-gradient text-white" href="/"><strong>HOME PAGE</strong></a>
                <a type="submit" class="btn aqua-gradient text-white" href="/hero-list"><strong>VIEW HEROES</strong></a>
                <a type="submit" class="btn aqua-gradient text-white" href="/squad-list"><strong>VIEW SQUADS</strong></a>
            </div>
            <div class="centre">
                {{#each squads}}
                    <table class="table table-bordered text-light grey">
                        <thead class="thead-Royal blue">
                        <tr>
                            <th class="text-info text-black"><strong>SQUAD</strong></th>
                            <th class="text-info text-black"><strong>MAX SIZE</strong></th>
                            <th class="text-info text-black"><strong>CAUSE</strong></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="text-info text-black"><strong>{{squad}}</strong></td>
                            <td class="text-info text-black"><strong>{{size}}</strong> is the max size</td>
                            <td class="text-info text-black"><strong>{{cause}}</strong></td>
                        </tr>
                        <table class="table-bordered text-light grey">
                                    <thead class="thead-Royal blue">
                                    <tr>
                                        <th class="text-info text-black"><strong>HERO NAME</strong></th>
                                        <th class="text-info text-black"><strong>AGE</strong></th>
                                        <th class="text-info text-black"><strong>SPECIAL POWERS</strong></th>
                                        <th class="text-info text-black"><strong>WEAKNESS</strong></th>
                                        <th class="text-info text-black"><strong>SQUAD</strong></th>
                                        <th class="text-info text-black"><strong>REMOVE A HERO</strong></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{#each assignedHeroes}}
                                        <tr>
                                            <td class="text-info text-black"><strong>{{heroName}}</strong></td>
                                            <td class="text-info text-black"><strong>{{age}}</strong> years old</td>
                                            <td class="text-info text-black"><strong>{{specialPower}}</strong></td>
                                            <td class="text-info text-black"><strong>{{weakness}}</strong></td>
                                            <td class="text-info text-black"><strong>{{squad}}</strong></td>
                                            <td>
                                                <div>
                                                    <a class="btn btn-danger" href="/remove-hero/{{ heroName }}" title="remove hero" onclick="confirmRemoval('{{ heroName }}')">
                                                        <i class="fas fa-trash"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    {{/each}}
                                    </tbody>
                                </table>
                        </tbody>
                    </table>
                {{/each}}
            </div>
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}