{{#partial "title"}}
    Heroes List Page
{{/partial}}
{{#partial "content"}}
    <div class="viewer" style="background-image: url('https://images7.alphacoders.com/699/699169.jpg'); background-repeat: no-repeat; background-size: cover; background-position: cover;">
        <div class="jumbotron text-center">
            <h2 class="h2-reponsive center text-info animated wobble">
                <strong>HEROES LIST PAGE! <i class="fas fa-users animate rotateIn infinite"></i></strong>
            </h2>
            <ul>
                <a type="submit" class="btn fancy-button btn-lg" href="/heroes"><strong>ADD HEROES</strong></a>
                <a type="submit" class="btn fancy-button btn-lg" href="/"><strong>HOME PAGE</strong></a>
            </ul>
            {{#if heroes}}
                <ul class="list-group">
                    <table class="table table-bordered table-text light grey">
                        <thead class="thead-Royal blue">
                        <tr>
                            <th><strong>HERO NAME</strong></th>
                            <th><strong>AGE</strong></th>
                            <th><strong>SPECIAL POWERS</strong></th>
                            <th><strong>WEAKNESS</strong></th>
                            <th><strong>DELETE FUNCTION</strong></th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each heroes}}
                            <tr>
                                <td><strong>{{heroName}}</strong></td>
                                <td><strong>{{age}}-years old</strong></td>
                                <td><strong>{{specialPower}}</strong></td>
                                <td><strong>{{weakness}}</strong></td>
                                <td>
                                    <a class="btn aqua-gradient text-white" title="delete {{heroName}}" type="button" href="/delete-hero/{{heroName}}" onclick="confirmDeletion('{{heroName}}')">
                                        <strong>Delete</strong>
                                    </a>
                                </td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </ul>
            {{else}}
                <div class="no-data">You currently have no heroes. Consider adding some using the button above!</div>
            {{/if}}
        </div>
    </div>
{{/partial}}
{{> layout.hbs}}