{{#partial "content"}}
    <div class="views" style="background-image: url('https://wallpapertag.com/wallpaper/full/b/a/2/784583-gorgerous-marvel-heroes-wallpapers-2560x1600.jpg');background-repeat: no-repeat; background-size: cover; background-position: cover;">
        <div class="jumbotron text-center">
            <h2 class="h2-reponsive black center text-info animated wobble "><strong>ASSIGN HERO TO SQUAD <i class="fas fa-users animate rotateIn infinite"></i></strong>
            </h2>
            <div class = "centre">
                <form action="/assign-hero/{{squad}}" method="post">
                    <div class="form-group md-form">
                        <label class="form-floating mb-3" for="squad"></label>
                        <input id="squad" name="squad"  class="form-control text-royal blue" type="text" value="{{querySquadName}}" required placeholder="squad">
                    </div>
                    <div class="form-group md-form">
                        <select class="form-select" id="heroName" name="heroName" placeholder = "heroName">
                            <option selected></option>
                            {{#each heroNameObject}}
                                <option value="{{heroName}}">{{heroName}}>{{age}}-years Old   ({{specialPower}})</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group md-form">
{{!--                        <button type="submit" class="btn aqua-gradient text-white">SUBMIT</button>--}}
                        <a class="btn btn-outline-royal blue" href="/assign-hero/"><strong>SUBMIT</strong></a>
                        <a class="btn btn-outline-royal blue" href="/"><strong>Back to Home Page</strong></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{{/partial}}
{{> layout.hbs }}