{{#partial "title"}}
    SquadList Page
{{/partial}}
{{#partial "content"}}
    <div class="viewer" style="background-image: url('https://images7.alphacoders.com/699/699169.jpg'); background-repeat: no-repeat; background-size: cover; background-position: cover;">
        <div class="jumbotron text-center">
            <h2 class="h2-reponsive center text-info animated wobble">
                <strong>SQUADS LIST PAGE!<i class="fas fa-users animate rotateIn infinite"></i></strong>
            </h2>
            <ul>
                <a type="submit" class="btn fancy-button btn-lg" href="/squads"><strong>ADD SQUAD</strong></a>
                <a type="submit" class="btn fancy-button btn-lg" href="/"><strong>HOME PAGE</strong></a>
                <a href="/combinedPages" class="btn fancy-button btn-lg">
                    <strong>HEROES / SQUADS SUMMARY PAGE</strong>
                    <span class="sr-only">(current)</span>
                </a>
                <a href="/aboutPage" class="btn fancy-button btn-lg">
                    <strong>ABOUT APP PAGE</strong>
                    <span class="sr-only">(current)</span>
                </a>
            </ul>
            {{#if squads}}
                <ul class="list-group">
                    <table class="table table-bordered table-text light grey">
                        <thead class="thead-Royal blue">
                        <tr>
                            <th><strong>SQUAD NAME</strong></th>
                            <th><strong>CAUSE</strong></th>
                            <th><strong>SIZE</strong></th>
                            <th><strong>ASSIGN HERO TO SQUAD</strong></th>
                            <th><strong>VIEW ASSIGNED HERO TO SQUAD</strong></th>
                            <th><strong>DELETE FUNCTION</strong></th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each squads}}
                            <tr>
                                <td><strong>{{squad}}</strong></td>
                                <td><strong>{{cause}}</strong></td>
                                <td><strong>{{size}} is the max number of heroes</strong></td>
                                <td>
                                    <a class="btn aqua-gradient text-white" title="assign hero" type="button" href="/assign-hero/{{squad}}">
                                        <strong>ASSIGN HERO</strong>
                                    </a>
                                </td>
                                <td>
                                    <a href="/hero-to-squad/{{squad}}" class="btn aqua-gradient text-white">
                                        <strong>VIEW ASSIGNED HEROES-TO-SQUAD</strong>
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </td>
                                <td>
                                    <a class="btn aqua-gradient text-white" title="delete squad" type="button" href="/delete-squad/{{squad}}">
                                        <strong>Delete</strong>
                                    </a>
                                </td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </ul>
            {{else}}
                <h4 class="h4-reponsive text-info animate fadeIn"><strong>No Squad Added!</strong></h4>
            {{/if}}
        </div>
    </div>
{{/partial}}
{{> layout.hbs }}