{{#partial "title"}}
    SquadList Page
{{/partial}}
{{#partial "content"}}
    <div class="viewer" style="background-image: url('https://images7.alphacoders.com/699/699169.jpg'); background-repeat: no-repeat; background-size: cover; background-position: cover;">
        <div class="jumbotron text-center">
            <h2 class="h2-reponsive center text-info animated wobble "><strong>SQUADS LIST PAGE!<i class="fas fa-users animate rotateIn infinite"></i></strong></h2>
            <ul>
                <a type="submit" class="btn aqua-gradient text-white" href="/squads"><strong>ADD SQUAD</strong></a>
                <a type="submit" class="btn aqua-gradient text-white" href="/"><strong>HOME PAGE</strong></a>
            </ul>
            {{#if squads}}
                <ul class="list-group">
                    {{#each squads}}
                        <li class="list-group-item">
                            <ul class="list-group">
                                <li class="list-group-item" type="text"><strong>Name: {{squad}}</strong></li>
                                <li class="list-group-item" type="text"><strong>Cause:</strong> {{cause}}</li>
                                <li class="list-group-item" type="number"><strong>Size :</strong> {{size}} is the max number of heroes</li>
                            </ul>
                            <a class="btn aqua-gradient text-white" title="assign hero"  type= "button"  href="/assign-hero/{{squad}}"><strong>Assign Hero</strong></a>
                            <a class="btn aqua-gradient text-white" title="delete squad" type= "button"   href="/delete-squad/{{squad}}"><strong>Delete</strong></a>
                        </li>
                    {{/each}}
                </ul>
            {{else}}
                <h4 class="h4-reponsive text-info animate fadeIn"><strong>No Squad Added!</strong></h4>
            {{/if}}
        </div>
    </div>
{{/partial}}
{{> layout.hbs }}